body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #211539;
  }
  
  /* Navbar end__________________________________________________________________ */
  .clock {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .inner-navbar {
    max-width: 1440px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
  }
  
  /* .navbar-nav {
    margin-right: 10%;
  } */
  
  .nav-logo {
    color: #7353d9;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: auto 10px;
  }
  
  .nav-logo span {
    color: #688bfe;
  }
  
  .nav-item {
    margin: 0px 17px;
  }
  
  .nav-item a {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    
    color: #000;
  }
  
  .navbar {
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    backdrop-filter: blur(5px);
    padding: 0px;
    margin: 0px;
    background: rgb(255, 255, 255);
    /* box-shadow: black ; */
    /* position: absolute */
  }
  
  .menu {
    color: #000;
    /* font-size: 16px; */
    font-weight: 400;
    background: rgb(245, 245, 245);
    backdrop-filter: blur(5px);
  }
  
  .logo {
    width: 42px;
  }
  
  @media only screen and (min-width: 768px) {
    .menu {
      background: none;
  
      backdrop-filter: none;
    }
    .nav-item a {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      color: #000;
      padding-top: 20px;
    }
  }
  
  .logo h2 {
    font-size: 23px;
  }
  
  @media only screen and (min-width: 768px) {
    .logo h2 {
      font-size: 35px;
    }
  }
  
  .navbar-toggler-icon {
    color: #fff;
  }
  
  /* Navbar end__________________________________________________________________ */
  /* Beranda __________________________________________________________________ */
  .beranda-content {
    height: 100vh;
    min-height: 600px;
  }
  
  .planet-kiri {
    bottom: 10%;
    left: 0;
    width: 150px;
  }
  
  .planet-atas {
    top: 15%;
    right: 0;
    width: 150px;
  }
  
  .roket {
    bottom: 20%;
    right: 20%;
    z-index: -10;
    width: 150px;
  }
  
  .beranda-tagline h1 {
    color: #fff;
  
    font-family: Poppins;
    font-size: 6px;
    font-style: normal;
    font-weight: 600;
  }
  
  .tagline-line {
    height: 2px;
    width: 20%;
    background-color: #fff;
  }
  
  @-webkit-keyframes bounce {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  .circle1 {
    -webkit-animation: bounce 1s infinite ease-in-out;
    -o-animation: bounce 1s infinite ease-in-out;
    -ms-animation: bounce 1s infinite ease-in-out;
    -moz-animation: bounce 1s infinite ease-in-out;
    animation: bounce 1s infinite ease-in-out;
  }
  .lingkaran1 {
    width: 60px;
    height: 60px;
    /* display: none; */
  }
  
  .tagline-img {
    width: 150px;
  }
  
  @media only screen and (min-width: 998px) {
    .lingkaran1 {
      width: 60px;
      height: 60px;
      /* display: flex; */
    }
    .beranda-tagline h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }
    .tagline-img {
      width: 500px;
    }
    .planet-kiri {
      left: 0;
      width: 400px;
    }
  
    .planet-atas {
      right: 0;
      width: 400px;
    }
  
    .roket {
      right: 20%;
      bottom: 1%;
      z-index: -10;
      width: 300px;
    }
  }
  /* Beranda end __________________________________________________________________ */
  
  /* tentang __________________________________________________________________ */
  .tentang-header h2 {
    color: #a52d8a;
  
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
  }
  
  .tentang-header h1 {
    color: #f2f2f2;
  
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  
  .tentang-header p {
    color: #fff;
  
    text-align: center;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
  }
  
  .tentang-selengkapnya {
    color: #a52d8a;
  
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
  }
  
  .circle-blue {
    z-index: -10;
    border-radius: 577.415px;
    background: #0d25ff;
    filter: blur(300px);
  }
  
  @media only screen and (min-width: 998px) {
    .tentang-header h2 {
      color: #a52d8a;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
  
    .tentang-header h1 {
      color: #f2f2f2;
      font-family: Poppins;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
    }
  
    .tentang-header p {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
  
    .tentang-selengkapnya {
      color: #a52d8a;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      background-color: #f2f2f2;
      border-radius: 5px;
      padding: 10px 15px;
      margin-top: 20px;
    }
  }
  /* tentang end __________________________________________________________________ */
  
  /* Gs __________________________________________________________________ */
  .gs-judul h2 {
    margin: 0;
    color: #a52d8a;
  
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
  }
  
  .gs-judul h1 {
    margin: 0;
    color: #f2f2f2;
  
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* letter-spacing: -0.64px; */
  }
  
  .gs-judul p {
    color: #b2a9b0;
  
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
  }
  
  .gs-footer p {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  
  #gs {
    margin: 250px 0px;
  }
  
  .gs-gambar img {
    width: 300px;
    /* filter: brightness(0.2); */
  }
  
  @media only screen and (min-width: 998px) {
    .gs-judul h2 {
      margin: 0;
      color: #a52d8a;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
  
    .gs-judul h1 {
      margin: 0;
      color: #f2f2f2;
      font-family: Poppins;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 70px;
      /* letter-spacing: -0.64px; */
    }
  
    .gs-judul p {
      color: #b2a9b0;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
  
    .gs-footer p {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .gs-gambar img {
      width: 500px;
    }
  }
  /* Gs end __________________________________________________________________ */
  
  /* alur-block __________________________________________________________________ */
  
  #alur {
    margin-top: 300px;
  }
  
  .alur-modal {
    z-index: 10;
  }
  
  .alur-modal h1 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  
  .alur-modal p {
    color: #7f7f7f;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 120.833% */
    letter-spacing: -0.12px;
  }
  
  .alur-block h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
  }
  
  .alur-block p {
    color: #fff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  
  .alur-block {
    border-radius: 10px;
  }
  
  .alur-block img {
    width: 80px;
    height: 80px;
    margin: auto;
  }
  
  .alur-block .btn:hover {
    color: white;
    background: #7a0d62;
    border: #7a0d62 1px solid;
  }
  
  .alur-block-item {
    width: 90%;
  }
  .alur-block .btn {
    color: #880f6a;
    background: white;
    font-size: 10px;
  }
  
  @media only screen and (min-width: 998px) {
    .alur-block p {
      color: #fff;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
    }
  
    .alur-block {
      border-radius: 10px;
    }
  
    .alur-block img {
      width: 121px;
      height: 121px;
    }
    .alur-block .btn {
      color: #880f6a;
      background: white;
      font-size: 15px;
    }
  }
  /* alur-block end __________________________________________________________________ */
  
  /* lomba __________________________________________________________________ */
  #lomba {
    margin-top: 300px;
  }
  
  .lomba-block {
    border-radius: 5px;
    background: rgba(97, 46, 137, 0.33);
  }
  .lomba-block img {
    width: 150px;
  }
  
  .lomba-block h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  
  .lomba-block h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  
  .lomba-block .btn {
    color: #880f6a;
    background: white;
    font-size: 10px;
  }
  .lomba-block .btn:hover {
    color: white;
    background: #7a0d62;
    border: #7a0d62 1px solid;
  }
  @media only screen and (min-width: 998px) {
    .lomba-block {
      border-radius: 5px;
      background: rgba(97, 46, 137, 0.33);
    }
    .lomba-block img {
      width: 200px;
    }
  
    .lomba-block h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
    }
  
    .lomba-block h2 {
      color: #fff;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }
  
    .lomba-block .btn {
      color: #880f6a;
      background: white;
      font-size: 15px;
    }
  }
  /* lomba end __________________________________________________________________ */
  
  /* Hadiah __________________________________________________________________ */
  .bg-totalh {
    border-radius: 5px;
    background: rgba(97, 46, 137, 0.33);
  
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
  }
  .inner-totalh h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
  }
  
  .inner-totalh h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
  }
  
  .hadiah {
    color: #7b0c63;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    border-radius: 10px;
    background: #fff;
    /* padding: 15px; */
  }
  
  #totalh .piala {
    width: 250px;
  }
  
  #totalh {
    margin-top: 300px;
  }
  
  @media only screen and (min-width: 998px) {
    .inner-totalh h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
    }
  
    .inner-totalh h2 {
      color: #fff;
      font-family: Poppins;
      font-size: 100px;
      font-style: normal;
      font-weight: 700;
    }
  
    .hadiah {
      color: #7b0c63;
      font-family: Poppins;
      font-size: 120px;
      font-style: normal;
      font-weight: 700;
      border-radius: 10px;
      background: #fff;
      /* padding: 15px; */
    }
  
    #totalh .piala {
      width: 400px;
    }
  
    #totalh {
      margin-top: 300px;
    }
  }
  /* Hadiah end __________________________________________________________________ */
  
  /* merchandise  __________________________________________________________________ */
  
  #merchandise {
    margin-top: 300px;
  }
  
  .merch-blur1 {
    z-index: 10;
    background: rgb(255, 255, 255);
    background: rgb(33, 21, 57);
    background: linear-gradient(90deg, rgba(33, 21, 57, 1) 40%, rgba(255, 255, 255, 0) 88%);
    width: 119px;
    height: 100%;
    bottom: -60px;
  }
  .merch-blur2 {
    z-index: 10;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 29%, rgba(33, 21, 57, 1) 72%);
    width: 119px;
    height: 100%;
    bottom: -60px;
    right: 0;
  }
  .merchandise-judul h2 {
    margin: 0;
    color: #a52d8a;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
  }
  
  .merchandise-judul h1 {
    margin: 0;
    color: #f2f2f2;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* letter-spacing: -0.64px; */
  }
  
  .merchandise-judul p {
    color: #b2a9b0;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
  }
  @media only screen and (min-width: 998px) {
    .merch-blur1 {
      z-index: 10;
      background: rgb(255, 255, 255);
      background: rgb(33, 21, 57);
      background: linear-gradient(90deg, rgba(33, 21, 57, 1) 40%, rgba(255, 255, 255, 0) 88%);
      width: 119px;
      height: 100%;
      bottom: -60px;
    }
    .merch-blur2 {
      z-index: 10;
      background: rgb(255, 255, 255);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 29%, rgba(33, 21, 57, 1) 72%);
      width: 119px;
      height: 100%;
      bottom: -60px;
      right: 0;
    }
    .merchandise-judul h2 {
      margin: 0;
      color: #a52d8a;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
  
    .merchandise-judul h1 {
      margin: 0;
      color: #f2f2f2;
      font-family: Poppins;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 70px;
      /* letter-spacing: -0.64px; */
    }
  
    .merchandise-judul p {
      color: #b2a9b0;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
  }
  
  /* merchandise end __________________________________________________________________ */
  /* FAQ__________________________________________ */
  
  #faq {
    margin-top: 300px;
  }
  .faq-judul h2 {
    margin: 0;
    color: #a52d8a;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
  }
  
  .faq-judul h1 {
    margin: 0;
    color: #f2f2f2;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* letter-spacing: -0.64px; */
  }
  
  .faq-judul p {
    color: #b2a9b0;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
  }
  
  .tab input,
  .tab .content {
    display: none;
  }
  .tab input:checked ~ .content {
    display: block;
  }
  
  .judul-table {
    border-radius: 20px;
  }
  .judul-table p {
    width: 90%;
  }
  
  .tab input:checked ~ .judul-table {
    border-radius: 20px 20px 0 0;
  }
  
  .tab label {
    display: block;
    padding: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
  }
  
  .tab .content {
    padding: 10px;
    border-radius: 0 0 20px 20px;
  }
  
  .tab label {
    position: relative;
  }
  .tab label::after {
    display: block;
    content: url('img/plus.svg');
    width: 39px;
    height: 39px;
    position: absolute;
    right: 13px;
    top: 11px;
    transition: all 0.4s;
  }
  .tab input:checked ~ label::after {
    transform: rotate(45deg);
  }
  
  .tab .content {
    color: #fff;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
  }
  
  @media only screen and (min-width: 992px) {
    .faq-judul h2 {
      margin: 0;
      color: #a52d8a;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
  
    .faq-judul h1 {
      margin: 0;
      color: #f2f2f2;
      font-family: Poppins;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 70px;
      /* letter-spacing: -0.64px; */
    }
  
    .faq-judul p {
      color: #b2a9b0;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
    .tab input,
    .tab .content {
      display: none;
    }
    .tab input:checked ~ .content {
      display: block;
    }
  
    .judul-table {
      border-radius: 20px;
    }
    .judul-table p {
      width: 90%;
    }
    .tab input:checked ~ .judul-table {
      border-radius: 20px 20px 0 0;
    }
  
    .tab label {
      display: block;
      padding: 10px;
      color: #fff;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
  
      cursor: pointer;
    }
  
    .tab .content {
      padding: 10px;
  
      border-radius: 0 0 20px 20px;
    }
  
    .tab label {
      position: relative;
    }
    .tab label::after {
      display: block;
      content: url('img/plus.svg');
      width: 39px;
      height: 39px;
      position: absolute;
      right: 13px;
      top: 20px;
      transition: all 0.4s;
    }
  
    .tab input:checked ~ label::after {
      transform: rotate(45deg);
    }
  
    .tab .content {
      color: #fff;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
    }
  }
  
  .bg-faq1 {
    border-radius: 5px;
    background: rgba(97, 46, 137, 0.33);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
    color: white;
  }
  
  /* FAQ end__________________________________________ */
  
  /* Ads__________________________________________ */
  
  #ads {
    margin-top: 300px;
  }
  
  #ads h1 {
    color: #f2f2f2;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  
  .sponsor {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
  }
  
  .sponsor h2 {
    color: #780d60;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .ads-gambar {
    width: 90%;
    min-width: 80px;
    max-width: 150px;
  }
  
  @media only screen and (min-width: 992px) {
    #ads h1 {
      color: #f2f2f2;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
    }
  
    .sponsor {
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
    }
  
    .sponsor h2 {
      color: #780d60;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
    }
    .ads-gambar {
      width: 90%;
    }
  }
  /* Ads end__________________________________________ */
  
  #footer {
    background: rgba(97, 46, 137, 0.33);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
  }
  
  .footer {
    margin-top: 400px;
  }
  
  .inner-footer .nav-item a {
    color: #fff;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
  }
  
  .cp {
    color: rgba(255, 255, 255, 0.68);
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .cp a {
    color: #a64992;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
  
  .inner-footer h1 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
  }
  
  .logo-footer {
    width: 28px;
  }
  
  @media only screen and (min-width: 992px) {
    .inner-footer .nav-item a {
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }
  
    .cp {
      color: rgba(255, 255, 255, 0.68);
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
    }
  
    .cp a {
      color: #a64992;
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }
  
    .inner-footer h1 {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  
    .logo-footer {
      width: 42px;
    }
  }
  
  /* _________________________________Register & Login________________________________________ */
  
  #register .kiri img {
    width: 329px;
    margin: auto;
    align-items: center;
  }
  
  #register .kiri {
    background-color: #211539;
    height: 100vh;
  }
  
  #register .kanan {
    background-color: #f2f2f2;
    height: 100vh;
    min-height: 1000px;
  }
  
  .color-purple {
    color: #89125d;
  }
  
  .tombol-back {
    color: #89125d;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
  }
  
  .isian {
    margin: 13vh 5vw;
  }
  
  .isian h1 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  input[type='date'] {
    width: 100%;
    background-color: #89125d;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  ::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .isian input[type='text'],
  .isian input[type='password'],
  .isian input[type='email'] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-size: 8px;
  }
  
  .isian input[type='submit'] {
    width: 100%;
    border-radius: 10px;
    background: #89125d;
    color: white;
    padding: 14px;
    margin: 10px 0;
    border: none;
    font-size: 10px;
  }
  
  .form-regis span {
    color: #424242;
  
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
  }
  
  .planet-kiri-regis {
    bottom: -260px;
    left: 0;
    width: 625px;
  }
  
  .planet-atas-regis {
    right: 0;
    width: 401.797px;
    top: -110px;
  }
  
  .roket-regis {
    width: 67.957px;
    bottom: 30px;
    right: 30px;
  }
  
  .form-regis label {
    color: #000;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
  }
  
  .form-regis p {
    color: #000;
  
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  
  @media only screen and (min-width: 768px) {
    .form-regis p {
      color: #000;
  
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
    .form-regis span {
      color: #424242;
  
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
    }
    .form-regis label {
      color: #000;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  
    .tombol-back {
      color: #89125d;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.2px;
    }
    .isian h1 {
      color: #000;
      font-family: Poppins;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .isian input[type='text'],
    .isian input[type='password'],
    .isian input[type='email'] {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f2f2f2;
      font-size: 16px;
    }
  
    .isian input[type='submit'] {
      width: 100%;
      border-radius: 10px;
      background: #89125d;
      color: white;
      padding: 14px;
      margin: 10px 0;
      border: none;
      font-size: 20px;
    }
  }
  
  .breadcrumb-item a {
    color: #000;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
  }
  
  .breadcrumb-item.active a {
    font-size: 10px;
    font-weight: 400;
  
    color: #790c61;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .gambar-modal {
    max-width: 500px;
    border-radius: 5px;
  }
  
  .isi-modal h1 {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .isi-modal h2 {
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
  }
  
  .isi-modal p {
    color: #424242;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .btn-purple {
    border-radius: 3px;
    background: linear-gradient(180deg, #7b0c63 0%, #70105b 100%);
    color: white;
    border: none;
  }
  
  .countdown div {
    color: white;
    background-color: #7a0d62;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
  }
  
  .countdown span {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  
  .tombol-modal {
    color: #fff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  
  @media only screen and (min-width: 1200px) {
    .breadcrumb-item a {
      color: #000;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
    }
  
    .breadcrumb-item.active a {
      font-size: 16px;
      font-weight: 400;
  
      color: #790c61;
    }
  
    .modal-header {
      border-bottom: none;
    }
  
    .gambar-modal {
      max-width: 500px;
      border-radius: 5px;
    }
  
    .isi-modal h1 {
      color: #000;
      font-family: Poppins;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  
    .isi-modal h2 {
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  
    .isi-modal p {
      color: #424242;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  
    .btn-purple {
      border-radius: 5px;
      background: linear-gradient(180deg, #7b0c63 0%, #70105b 100%);
      color: white;
      border: none;
    }
  
    .countdown div {
      color: white;
      background-color: #7a0d62;
      padding: 20px;
      border-radius: 10px;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }
  
    .countdown span {
      color: #fff;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
    }
    .tombol-modal {
      color: #fff;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }
  }
  
  /* _________________________________Register & Login end________________________________________ */
  
  /* _________________________________AboutUs________________________________________ */
  
  .atasabout {
    margin-top: 30vh;
  }
  .aboutus {
    background: #211539;
  }
  
  .previous-event {
    background: rgba(97, 46, 137, 0.33);
    padding: 150px 0px;
    margin-top: 20vh;
    /* box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25); */
  }
  
  .previous-event img {
    width: 160px;
    height: 150px;
  
    margin: auto;
  }
  
  .previous-event h1 {
    color: #f2f2f2;
    font-family: Poppins;
    /* font-size: 40px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .previous-event p {
    color: #fff;
  
    font-family: Poppins;
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
  }
  
  @media only screen and (min-width: 768px) {
  }
  
  /* _________________________________AboutUs End________________________________________ */
  
  /* _________________________________Dashboard________________________________________ */
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #211539; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #fff;
  
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover,
  .offcanvas a:focus {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    font-size: 36px;
  }
  
  .side-active {
    background: rgba(97, 46, 137, 0.33);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-left: 250px;
    background-color: #f2f2f2;
  }
  
  /* Style the hamburger menu icon */
  .topnav {
    /* overflow: hidden; */
    background-color: #f2f2f2;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #70105b;
    text-align: center;
    padding: 33px 16px 0 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
      margin-right: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    /* margin-left: auto; */
  }
  
  .dashboard-main {
    height: 100vh;
    min-height: 700px;
    background-color: #f2f2f2;
    /* height: 100%; */
    /* padding-top: 20px; */
  }
  
  #mySidenav .logo {
    width: 150px;
  }
  
  /* The upload box */
  .upload-box {
    width: 10 0%;
    height: 300px;
    border: 3px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #999;
    border-radius: 10px;
  }
  
  .upload-box h2 {
    color: #a19aa0;
  
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }
  /* The hover effect */
  .upload-box:hover {
    border-color: #89125d;
    cursor: pointer;
  }
  
  /* The preview area */
  .preview-area {
    width: 100%;
    height: 300px;
    position: relative;
    display: none;
  }
  
  /* The preview image */
  .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px dashed #ccc;
  }
  
  /* The remove button */
  .remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #89125d;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .dashboard-main input[type='text'],
  .dashboard-main input[type='password'],
  .dashboard-main input[type='email'] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-size: 8px;
  }
  
  .dashboard-main .simpan {
    border-radius: 10px;
    background: #89125d;
    color: white;
    padding: 14px;
    margin: 10px 0;
    border: none;
    font-size: 10px;
  }
  .dashboard-main .batal {
    border-radius: 10px;
    background: #676767;
    color: white;
    padding: 14px;
    margin: 10px 0;
    border: none;
    font-size: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    .dashboard-main input[type='text'],
    .dashboard-main input[type='password'],
    .dashboard-main input[type='email'] {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f2f2f2;
      font-size: 16px;
    }
  
    .dashboard-main .simpan {
      width: 125px;
      border-radius: 10px;
      background: #89125d;
      color: white;
      padding: 14px;
      margin: 10px 0;
      border: none;
      font-size: 20px;
    }
    .dashboard-main .batal {
      width: 125px;
      border-radius: 10px;
      background: #676767;
      color: white;
      padding: 14px;
      margin: 10px 0;
      border: none;
      font-size: 20px;
    }
  }
  
  .radio-input input[type='radio'] {
    display: none;
  }
  .radio-input label {
    position: relative;
    color: #4189e0;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 3px solid #4189e0;
    padding: 1em 2em;
    border-radius: 0.5em;
  }
  .radio-input label:before {
    content: '';
    height: 2em;
    width: 2em;
    border: 3px solid #4189e0;
    border-radius: 50%;
  }
  
  .radio-input input[type='radio']:checked + .radio-input label:before {
    height: 1em;
    width: 1em;
    border: 0.65em solid #ffffff;
    background-color: #4189e0;
  }
  
  .radio-input input[type='radio']:checked + .radio-input label {
    background-color: #4189e0;
    color: #ffffff;
  }
  /* _________________________________Dashboard end________________________________________ */
  